header {
  width: 90%;
}
.masthead {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  margin-top: 7px;
}
i {
  font-size: 16px;
  margin: 0 5px;
}
i:hover {
  text-shadow: #6f6f6f 1px 0 10px;
}
.masthead__menu-and-search {
  grid-area: 1/1/2/2;
  padding-left: 20px;
  display: flex;
  align-items: center;
  height: 46px;
}
.masthead__actions {
  position: relative;
  grid-area: 1/3/2/4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.masthead__technologies {
  grid-area: 2/2/3/3;
  text-align: center;
}

.masthead__technology-list {
  white-space: nowrap;
  background-color: whitesmoke;
  border-top: 1px solid #6f6f6f;
  border-left: 1px solid #6f6f6f;
  border-right: 1px solid #6f6f6f;
  color: #6f6f6f;
  font-size: 10px;
  position: relative;
  padding: 3px 9px;
  top: 1px;
  text-transform: uppercase;
  border-radius: 5px 5px 0 0;
}
.masthead__technology {
  margin: 0px 4px;
}
.masthead__date {
  white-space: nowrap;
  grid-area: 3/3/4/4;
  font-size: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.masthead__logo {
  grid-area: 3/2/4/3;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.masthead__paper {
  grid-area: 3/1/4/2;

  font-size: 11px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.masthead__button {
  display: inline-block;
  font-size: 11px;
  padding: 7px 9px;
}

.masthead__button:hover {
  background-color: #f7f7f5;
}

.masthead__logo,
.masthead__paper,
.masthead__date {
  border-bottom: 1px solid #6f6f6f;
  border-top: 1px solid #6f6f6f;
  padding-bottom: 11px;
}
